@font-face {
    font-family: 'Singkong';
    src:url(/assets/fonts/Singkong.otf);
}

header{
    height: 100px;
    background-color: beige;
}

body{
    margin: 0;
    background-image: url(/assets/images/background-pattern.avif)
}

.clear{
    clear:both;
}

.logo{
    height: 60px;
    width: 100%;
}

nav li{
    display: block;
    float: left;
    margin: 3px;
    padding: 5px 10px;
}

h1{
    font-family: Singkong;
}

img{
    min-height:100%;
    min-width: 100%;
    max-height:125%;
    max-width: 125%;
    position: relative;
}

article{
    float: left;
    width: 24%;
    margin: 6px calc(25%/6);
    border-radius: 20px;
}

article:first-of-type{
    background-color: sandybrown;
}

article:nth-child(3){
    background-color: lightblue;
}

article:last-of-type{
    background-color: pink;
}

article:hover{
    margin: 10px 4% 2px;
    box-shadow: 0px 2px 10px rgb(255, 0, 212);
    transition-duration: 1s;
}

.description{
    background-color: white;
}

article>div{
    height: 200px;
    overflow: hidden;
}